 <h3>Instructor</h3>
 <strong><a href="http://cims.nyu.edu/%7Edonev">Aleksandar Donev</a></strong>,
 1016 Warren Weaver Hall<br />
 E-mail: <a href="mailto:donev@courant.nyu.edu">donev@courant.nyu.edu</a><br />
 Office hours on zoom TBD or by <a href="mailto:donev@cims.nyu.edu">appointment</a>

 <h4>Grader</h4>
 <strong>TBD</strong> (netid <a href="mailto:test@nyu.edu"><em>???</em></a>).<br />
 Office hours TBD.

 <h3>Course description</h3>
 <p style="text-align: justify;"><span style="font-style: italic;">This
     course is a graduate-level introduction to practical introduction
     to computational problem solving, including both mathematical
     analysis of numerical algorithms (numerical analysis) and
     practical problem solving. This is not a programming course but
     programming in homework projects with Matlab or
     numerical/scientific Python is an important part of the course
     work.</span></p>
 <p>3 points per term</p>
 <p>Topics covered include:<span style="font-style: italic;"><br />
   </span></p>
 <ul>
   <li>floating point arithmetic, conditioning and stability</li>
   <li>direct methods for systems of linear equations</li>
   <li>matrix eigenvalue problems and SVD decomposition</li>
   <li>numerical interpolation, differentiation and integration</li>
   <li>nonlinear systems of equations and unconstrained optimization</li>
   <li>Fourier and wavelet transforms</li>
   <li>ordinary and partial differential equations</li>
   <li>Monte Carlo methods.</li>
 </ul>
 All materials related to this course, including lecture notes,
 homeworks, schedule, etc., will be posted here. Homework assignments
 submission and the exams will be handled via NYU Classes. Videos of my lectures
 as well as some example solutions of assignments will also be posted
 there.<br />

